aiofiles==0.4.0
args==0.1.0
astroid==2.0.4
clint==0.5.1
coverage==4.5.1
httptools==0.0.11
isort==4.3.4
lazy-object-proxy==1.3.1
mamba==0.10
mccabe==0.6.1
multidict==4.4.2
pylint==2.1.1
sanic==0.8.3
Sanic-Cors==0.9.6
Sanic-Plugins-Framework==0.6.3.dev20180717
six==1.11.0
typed-ast==1.1.0
ujson==1.35
uvloop==0.11.2
websockets==5.0.1
wrapt==1.10.11
